<div id="solar-system" class="fixed top-0 left-0 w-full h-screen -z-10"></div>

<script>
  import { createBackground } from "@/scripts/background.ts";
  import {
    createPlanets,
    createSun,
    animateSun,
    animatePlanets,
  } from "@/scripts/planets.ts";
  import { createGradientBackground } from "@/scripts/background.ts";
  import {
    createScene,
    createLight,
    scene,
    renderer,
  } from "@/scripts/scene.ts";
  import { createCamera, camera, updateCamera } from "@/scripts/camera.ts";

  createScene();
  createCamera();

  const gradientBackground = createGradientBackground();
  scene.add(gradientBackground);

  const stars = createBackground();
  scene.add(stars);

  createSun(scene);
  createPlanets(scene);
  createLight(scene);

  function animate() {
    requestAnimationFrame(animate);

    animateSun();
    animatePlanets();
    updateCamera();
    renderer.render(scene, camera);
  }

  animate();

  window.addEventListener("resize", () => {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  });
</script>

<style></style>
